* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.courses,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

  .about {
  background-image: url('./assets/1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} 

.courses {
  background-image: url('./assets/1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-color:rgb(255, 224, 184);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(132, 140, 255);
  font-size: 55px;
  text-decoration: none;
  text-align: center;
}  